:root {
  --text_general: rgba(70, 70, 70, 1.0);
  --text_light: rgba(110, 110, 110, 1.0);

  --color_main: rgba(172, 186, 217, 1);
  --color_main_trans: rgba(172, 186, 217, 0.5);

  --color_light: rgba(215, 222, 239, 1);
  --color_lightest: rgba(246, 248, 253, 1);
  --color_lightest_trans: rgba(246, 248, 253, 0.5);

  --color_dark: rgba(125, 144, 186, 1);
  --color_darkest: rgba(83, 105, 155, 1);

  --shadow: rgba(100, 100, 100, 0.8);

  --warning: rgba(255, 197, 197, 1.0);
  --warning_hard: rgba(219, 101, 101, 1.0);
  --warning_dark: rgba(143, 25, 25, 1.0);
}

.shadow {
  box-shadow: 1px 2px 4px var(--shadow);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  color: var(--text_general);
}

body {
  display: grid;
}

.main_window {
  justify-self: center;
  margin-top: 50px;

  width: max-content;
  min-width: 600px;

  height: max-content;
  min-height: 200px;

  background-color: var(--color_light);

  padding: 10px;
  border-radius: 10px;

  box-shadow: 1px 2px 4px var(--shadow);
}

/* Add Form */

.add_new_form {
  display: grid;
  grid-template-columns: 100%;

  padding-bottom: 10px;
}

.form_input {
  display: grid;
  grid-template-columns: 70px auto;

  padding: 10px 5px 10px 5px;
}

input.text_input {
  border: 1px solid var(--color_lightest_trans);
  border-bottom-color: var(--color_main);

  padding-left: 5px;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

input.text_input:hover{
  border-bottom-color: var(--color_dark);

  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

input.text_input:focus {
  outline: none;
  border: 1px solid var(--color_dark);

  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

/* Show All */

#all {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 100%;

  padding: 10px 5px 10px 5px;

  border-top: 1px solid var(--color_dark)
}

.config_row {
  display: grid;
  grid-template-columns: 30px min-content auto 30px;
  align-content: center;

  height: 30px;

  background-color: var(--color_main_trans);

  border: 1px solid var(--color_dark);
  border-radius: 3px;
}

.config_row:hover {
  box-shadow: 1px 2px 4px var(--shadow);
}

.name {
  padding: 0px 5px 0px 5px;

  border-radius: 5px;
  border: 1px solid var(--color_dark);
  background-color: var(--color_lightest)
}

.address {
  padding-left: 5px;
  text-justify: center;
}

input.select_check {
  display: grid;
  justify-self: center;
  align-self: center;

  cursor: pointer;
}

button#delete.std_button {
  display: grid;
  justify-self: center;
  align-self: center;

  padding: 0px;
  width: 13px;
  height: 13px;

  font-size: 7px;
  color: var(--warning_dark);

  background-color: var(--warning);

  border: 1px solid var(--warning_hard);
  border-radius: 3px;
}

button#delete.std_button:hover {
  background-color: var(--warning_hard);
}

/* Messages */

#messages {
  display: grid;
  grid-template-columns: 100%;

  padding: 5px;
  padding-top: 10px;

  color: var(--text_light);

  border-top: 1px solid var(--color_dark);
}

#messages > *:first-child {
  box-shadow: 1px 2px 4px var(--shadow);

  border: 1px solid var(--color_dark);
  background-color: var(--color_main_trans);
}

.message {
  display: grid;
  padding: 2px;
  margin-bottom: 5px;

  font-size: 12px;
  background-color: var(--color_main);

  border-radius: 3px;

  -webkit-animation: fadein 2s;
}

.warning {
  display: grid;
  padding: 2px;

  font-size: 12px;
  background-color: var(--warning) !important;

  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Shared */

.std_button {
  justify-self: center;
  width: 100px;

  color: var(--color_light);
  border: none;
  outline: none;

  background-color: var(--color_dark);
  border-radius: 5px;
}

.std_button:hover {
  width: 100px;

  border: none;
  outline: none;

  border-radius: 5px;
  box-shadow: 1px 2px 4px var(--shadow);
}