.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;

  width: 100vw;
  height: 50px;

  padding: 10px;

  background-color: var(--background-main);
  color: var(--background-on);

  border-top: 1px solid var(--primary-border);

  .back {
    cursor: pointer;
  }
}
