.container {
  border-left: 1px solid var(--primary-border);
  border-top-left-radius: 3px;

  .title {
    font-size: 10px;
    font-weight: 800;

    height: 14px;
    padding: 2px;
  }

  .input {
    font-size: 10px;

    height: 16px;
    padding: 3px;
    
    border-bottom: 1px solid var(--primary-border);

    &:focus,
    &:focus-visible {
      outline: none;
      border-bottom: 1px solid var(--secondary-main);
    }
  }
}