.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 10px;
  border-radius: 5px;

  background-color: hsl(0, 0%, 95%);

  .static {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }
}
