.container {
  display: flex;
  flex-direction: column;

  width: 400px;

  border: 1px solid #444;

  .header {
    display: flex;
    padding: 5px;
  }

  .list {
    display: flex;
    flex-direction: column;

    padding: 5px;
  }
}
