.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  .confirm {
    display: flex;
    flex-direction: row;
  }

  .interact {
    cursor: pointer;

    padding-left: 10px;
  }
}
