.container {
  width: 100%;

  background-color: var(--background-main);
  color: var(--surface-on);

  font-size: 12px;

  padding: 3px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    padding: 5px;

    background-color: var(--surface-main);
    border-radius: 5px;

    .status {
      width: 10%;
    }

    .title {
      display: flex;
      flex-direction: column;

      padding-left: 10px;
      width: 100%;

      cursor: pointer;

      .name {
        font-size: 13px;
        font-weight: 800;

        padding-bottom: 2px;
      }

      .detail {
        display: flex;
        flex-direction: row;
        
        font-size: 11px;
      }
    }
  }
}
